<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopData.shopName%></h1>
    <p><a href="about">About <%=shopData.shopName%></a></p>
    <p><a href="books/search">Search for books</a></p>
    <p><a href="users/register">Register with us</a></p>
    <p><a href="books/list">See a list of our books</a></p>
    <p><a href="books/addbook">Add a book to our database</a></p>
    <p><a href="books/bargainbooks">Browse our bargain bin of books</a></p>
    <p><a href="users/list"><%=shopData.shopName%> user directory</a></p>
  </body>
</html>
