<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title><%=shopData.shopName%></title>
</head>
<body>
    <h1><%=shopData.shopName%> Shop</h1>
    <div>
         <h2>Here is a list of <%=shopData.shopName%> users:</h2>
         <ul>
            <% for(let i = 0; i < users.length; i++) { %>
                <li><%= `${users[i].username} - ${users[i].last_name}, ${users[i].first_name}` %></li>
            <% } %>
         </ul>
    </div>  
</body>
</html>